<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>ProCash</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 2em;
      max-width: 800px;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>

